/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Core
1.1 Admin Style
1.2 Admin Footer
1.3 Admin Bar
1.4 Buttons
2.0 Kirki Style
2.1 CMB2
2.2 Visual Composer
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 Core
--------------------------------------------------------------*/
.wp-core-ui .button, .wp-core-ui .button-secondary,
.wp-core-ui .button.focus, .wp-core-ui .button.hover, .wp-core-ui .button:focus, .wp-core-ui .button:hover, .wp-core-ui .button-secondary.focus, .wp-core-ui .button-secondary.hover, .wp-core-ui .button-secondary:focus, .wp-core-ui .button-secondary:hover, .customize-panel-back, .customize-section-back {
    text-shadow: none !important;
}
/*--------------------------------------------------------------
1.1 Admin Styles
--------------------------------------------------------------*/
h1 { 
	border-width: 1px;
}
li#toplevel_page_customize .wp-menu-name, li#toplevel_page_customize .wp-menu-image:before {
    color: #2AB7C4;
}
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon {
	background-image: url('../images/favicon.png') !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0; 
}
#site_analytics .gadwp div#postbox-container-1 {
    display: none;
}
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon:before {
	display: none;
}
#wpadminbar #wp-admin-bar-wp-logo>.ab-item {
	padding: 0;
	width: 2.3em;
}

/*--------------------------------------------------------------
1.2 Admin Footer
--------------------------------------------------------------*/
#wpfooter #footer-left img {
	height: 1.5em;
	width: auto;
	margin-right: 0.5em;
	vertical-align: bottom;
}
.postbox {
    box-shadow: none;
}

#wpadminbar #wp-admin-bar-site-name a.ab-item {
    max-width: 1.5em;
}

#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
    min-width: 100px;
}

li#wp-admin-bar-new_draft, li#wp-admin-bar-edit, li#wp-admin-bar-new-content, li#wp-admin-bar-customize, li#wp-admin-bar-site-name {
    max-width: 2.5em;
    text-overflow: clip;
    white-space: nowrap;
}

a.ab-item {
    overflow: hidden;
}

/* styling for admin menu */
 
/* background and text color */
#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
    color: #2FB6C4;
}
#adminmenu li.wp-menu-separator {
    
}
 
/*--------------------------------------------------------------
1.3 Admin Bar
--------------------------------------------------------------*/
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
	background: #2FB6C4;
}

#adminmenu a,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
   
}
a {
	color: #2FB6C4;
}
#adminmenu a:hover,
#adminmenu a:active,
#adminmenu .wp-submenu a:hover,
#collapse-menu:hover {
	color: #2FB6C4;
}
#wpadminbar a:hover,
#wpadminbar a:active,
#wpadminbar li:hover>a.ab-item,
#wpadminbar li:hover>a.ab-item:before,
#wpadminbar>#wp-toolbar li:hover span.ab-label,
#wpadminbar>#wp-toolbar li:hover span.ab-icon:before{
	color: #2FB6C4 !important;
}
#adminmenu li a:focus div.wp-menu-image:before, 
#adminmenu li.opensub div.wp-menu-image:before, 
#adminmenu li:hover div.wp-menu-image:before {
	color: #2FB6C4;
}



/*--------------------------------------------------------------
1.4 Buttons
--------------------------------------------------------------*/

.wp-admin select {
    padding: 2px;
    line-height: 28px;
    height: 28px;
    border-radius: 1px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.cmb2-id-anchor-to li {
    display: block;
    float: left;
    padding: 0 5px 5px 0;
}

.cmb2-id-anchor-to li label {
    display: none;
}

.cmb2-id-anchor-to ul li:nth-child(3n + 1) {
    clear: left;
}

#addons_repeat.cmb-field-list .cmb-row {
	float: left;
	padding-right: 1em;
	
}

.cmb2-metabox-description {
	padding-bottom: 0 !important;
}
#side-sortables .cmb2-wrap>.cmb-field-list>.cmb-row, .inner-sidebar .cmb2-wrap>.cmb-field-list>.cmb-row {
    padding: 1em 0 !important;
}
.wpb_vc_param_value {
    word-wrap: break-word;
}


#customize-control-favicon img {
	width: 64px;
	height: 64px;
	float: right;
}
#customize-control-favicon label {
	float: left;
}

/*--------------------------------------------------------------
2.0 Kirki Styles
--------------------------------------------------------------*/
li[id*=testimonials].customize-control,li[id*=menu].customize-control,li[id*=team].customize-control, li[id*=portfolio].customize-control {
    background: rgba(0,0,0,0.1);
    margin-bottom: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    box-sizing: border-box;
}

ul li[id*=testimonials_on].customize-control,ul li[id*=menus_on].customize-control,li[id*=teams_on].customize-control,li[id*=portfolio_on].customize-control {
    padding-top: 1em;
    margin-top: 1em;
}

/* Customizer */
.wp-full-overlay-main {
	background-color: white;
}
.customize-control.customize-control-select {
    display: inline-block !important;
    width: 46%;
    float: left;
    clear: none;
    margin-right: 2%;
}  

#adminmenu .wp-menu-image img {
    padding: 5px 0 0;
}
tr td, tr th {
    position: relative;
}
.row-actions, .row-actions.visible {
    position: absolute;
}

.comment-item:hover .row-actions, tr:hover .row-actions {
    position: absolute;
    left: 0;
    background: white;
    padding: 0.3em;
    z-index: 99;

    box-shadow: 1px 1px 4px black;
}
.wp-list-table .row-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
td.date.column-date, td.categories.column-categories {
    font-size: 10px;
    line-height: 1;
}

/*--------------------------------------------------------------
2.1 CMB2
--------------------------------------------------------------*/
.cmb-row.cmb-type-select.cmb-repeat-group-field {
    width: 25%;
    float: left;
}

.cmb-row.cmb-type-text-url.cmb-repeat-group-field.table-layout {
    width: 50%;
    float: left;
}


ul.cmb2-checkbox-list.cmb2-list li {
    display: inline-block;
    margin-right: 1em;
}

ul.cmb2-checkbox-list.cmb2-list li {
    display: inline-block;
    margin-right: 1em;
}

.cmb-repeat-group-wrap .cmb-th {
    float: none;
    width: 100% !important;
}

.cmb-repeat-group-wrap .cmb-th+.cmb-td {
    float: none !important;
}

.cmb-repeat-group-wrap .cmb-row:not(:last-of-type) {
    float: left;
}
.cmb-add-row {
    margin: 0;
}
.cmb-repeat-group-wrap .cmb-repeatable-group>.cmb-row, .postbox-container .cmb-repeatable-group>.cmb-row {
    width: 100%;
}
.cmb-repeat-group-wrap .cmb2-wrap>.cmb-field-list>.cmb-row, .postbox-container .cmb2-wrap>.cmb-field-list>.cmb-row {
    padding: 1em 0 !important;
    vertical-align: top;
}

.cmb-row:last-of-type, .cmb2-wrap .cmb-row:last-of-type {
}

.cmb-row.cmb-remove-field-row {
    width: 230px;
    float: right;
}

.postbox.cmb-row.cmb-repeatable-grouping {
    width: 100%;
}

.cmb-row.cmb-repeat-group-field {
    padding: 0 !important;
    border-bottom: none !important;
}

.cmb-row.cmb-type-text-small, 
.cmb-row.cmb-type-text-money, 
.cmb-row.cmb-type-text-date,
.cmb-type-text-email{
    display: inline-block;
    width: 25%;
}
.cmb-row.cmb-type-text,
.cmb-row.cmb-type-text-url {
    display: inline-block;
    width: 50%;
}

.cmb-row .cmb-th {
    width: 100% !important;
}

.cmb-row .cmb-td {
    float: none !important;
}

.cmb2-wrap .cmb-td input.cmb2-text-small, .cmb2-wrap .cmb-td input.cmb2-timepicker {
    width: 100%;
}


.cmb-type-textarea-code pre {
    margin: 0;
    display: inline-block;
}
span.select2 {
    min-width: 150px;
}
.postbox.cmb-row.cmb-repeatable-grouping {
    box-sizing: border-box;
} 
p.cmb-add-row {
    margin-top: 0;
} 

.cmb-row.cmb-type-text.cmb-repeat.cmb-repeat-group-field.table-layout {
    background: rgb(250,250,250);
    padding: 10px !important;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-right: 10px solid white;
}

.cmb-type-group .cmb-row:not(:last-of-type), .cmb2-postbox .cmb-row:not(:last-of-type) {
    border-bottom:none;
}

.cmb-type-group .cmb-repeat-row .cmb-td, .cmb2-postbox .cmb-repeat-row .cmb-td {
    padding-bottom: 0;
}

.cmb2-postbox .cmb2-metabox>.cmb-row .cmb-row.table-layout .cmb-repeat-table .cmb-tbody .cmb-row:not(.hidden):not(.empty-row), .cmb2-postbox .cmb2-metabox>.cmb-row .cmb-row.table-layout .cmb-repeat-table .cmb-tbody .cmb-row:not(:first-of-type) .cmb-td {
    padding-top: 0;
}
.cmo-options-page.cmb2-options-page {
	max-width: 100%;
}

.cmo-options-page.cmb2-options-page .cmb2-metabox > .cmb-row {
	border: none;
	box-shadow: none;
}

.cmo-options-page.cmb2-options-page .cmb2-metabox > .cmb-row:not(:first-of-type) {
	border-top: 1px solid #e9e9e9;
}


/*--------------------------------------------------------------
2.2 Visual Composer
--------------------------------------------------------------*/
.wpb_row_container>.wpb_vc_column, .wpb_row_container>.wpb_vc_column>.wpb_element_wrapper {
    padding-left: 2px;
    padding-right: 2px;
}

.wpb_row_container>.wpb_vc_column_inner {
    padding-left: 2px;
    box-sizing: border-box;
    padding-right: 2px;
}

.vc_row.vc_row-fluid.wpb_row_container.vc_container_for_children.ui-sortable {
    margin-left: 0;
    margin-right: 0;
}

.vc_controls.vc_controls-row.controls_row.vc_clearfix {
    margin-left: 2px;
    margin-right: 2px;
    display: in;
}
.vc_edit_form_elements .vc_column+.vc_column,
.wpb_el_type_dropdown.vc_wrapper-param-type-dropdown.vc_shortcode-param.vc_column,
.vc_col-xs-12.wpb_el_type_checkbox.vc_wrapper-param-type-checkbox.vc_shortcode-param.vc_column {
    width: 50%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 15px !important;
}
.vc_edit_form_elements .vc_column+.vc_column[data-param_type="column_offset"] {
    width: 100% !important;
    float: none;
}

select.arrow_type.dropdown {
  font-family: FontAwesome, sans-serif !important;
}

/*--------------------------------------------------------------
4.0 Welcome Screen
--------------------------------------------------------------*/
/* Logo */
.svg .wp-badge.welcome__logo {
    background: url('../images/Hiilite_Hii_Logo-White.png') center 30% no-repeat #f05225;
    background-size: 70% auto;
    color: #fff;
    box-shadow: none;
}
 
/* Responsive Youtube Video*/
.embed-container {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
 
.embed-container iframe,
.embed-container object,
.embed-container embed {
    top: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.about-wrap img.plugin-icon {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    margin-right: 20px;
}
.hiiwp-menu-controller label {
  font-weight: bold;
  display: block;
  margin-top: 0.8em; }
.hiiwp-menu-controller span {
  padding-right: 13px;
  display: block; }
  .hiiwp-menu-controller span:nth-child(2) {
    padding-top: 40px; }
  .hiiwp-menu-controller span:nth-child(3) {
    display: none; }
.hiiwp-menu-controller select {
  width: 100%; }
.hiiwp-menu-controller .hiiwp-description {
  font-style: italic; }