.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.custom_format_1 {
	
  color:white;
  text-transform:uppercase;
  text-shadow:0 0 4px rgba(0,0,0,0.5);
  font-weight:400;
  border-color:white;

}
.custom_format_2 {
	
  color:white;
  text-shadow:0 0 4px rgba(0,0,0,0.5);
  font-weight:400;
  font-family:georgia;
  font-style:italic;
  text-transform:none;

}
.custom_format_3 {
	
  font-family: georgia;
    text-transform: capitalize;
    font-style: italic;
    font-weight: normal;

}