
.wp-pointer-buttons a.hiiwp-next {
	margin-right: 22px;
	margin-top: -6px;
}

.container_inner, .in_grid {
    margin: auto;
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.full-width,.threequarter-width,.half-width,.third-width,.twothird-width,.quarter-width,
.col-12,.col-9,.col-7,.col-8,.col-6,.col-4,.col-3,.col-2,.col-1 {
    box-sizing: border-box;
    min-width: 100px;
}
.align-center {
	text-align: center;
	margin: auto;
}

.col-4, .third-width {
    max-width: 100%;
    width: 33.2333333333%;
    flex: 1 1 33.2333333333%;
}
.col-6, .half-width {
    max-width: 100%;
    width: 49.9%;
    flex: 1 1 49.9%;
}
.text-block {
    padding: 1em;
}
.feature-section {
	background:white;
}
.about-wrap {
    position: relative;
    margin: 25px 40px 0 20px;
    max-width: 1050px;
    font-size: 15px;
}
.about-wrap .about-text {
	margin: 1em 0;
	text-align: center;
    min-height: 60px;
    color: #555d66;
}
.about-wrap h1 {
    margin: 1em 0;
    padding: 0;
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
}
.about-wrap h2 {
    margin: 50px 0 1em;
    font-size: 1.8em;
    line-height: 1.3;
    font-weight: 300;
    text-align: center;
}

.about-wrap h2 a.button{
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 300;
    height: auto;
    text-align: center;
}


.cmb-type-textarea-code pre {
    margin: 0;
    display: inline-block;
}