#hiiddf_map {
	width: 100%;
	min-height: 100vh;
	position: relative; 
	overflow: hidden;
}
#listing_search_container {
	height:100vh;
}
#listing_search_container #listing_list {
	height:100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.listing-small {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.listing-small .listing_image {
    width: 50%;
    flex: 1 1 50%;
    min-width:200px;
}

.listing_image figure img {
    display: block;
    min-width: 100%;
}

.listing-small .listing_content {
    padding: 0 1em;
    flex: 1 1 50%;
    min-width:200px;
}
form#ddf_search_form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ddf_form_section {
    flex: 1 1 auto;
    padding: 1em 0.5em;
    align-self: flex-end;
}
.ddf_form_section .ddf-search-field {
	margin-top:auto;
	margin-bottom: 0;
}
.ddf_form_section .ddf-search-field:nth-child(2) {
	margin-top:1em;
}
.ddf_form_section input, .ddf_form_section select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    -webkit-appearance: none;
}